/* INITIALISATION */
.Preload *
{
	-webkit-transition: none !important;
  	-moz-transition: none !important;
  	-ms-transition: none !important;
  	-o-transition: none !important;
}

/* FONTS */
@font-face
{
	font-family: "bahnschrift";
	src: url("fonts/bahnschrift/Bahnschrift.eot?iefix") format("embedded-opentype"), url("fonts/bahnschrift/Bahnschrift.woff") format("woff"),
	url("fonts/bahnschrift/Bahnschrift.ttf") format("truetype"), url("fonts/bahnschrift/Bahnschrift.svg#bahnschrift") format("svg");
}

/* SCROLLBAR */

::-webkit-scrollbar
{
    width: 1vw;
}

::-webkit-scrollbar-track
{
    background-color: #444444;
}

::-webkit-scrollbar-thumb
{
    background-color: rgb(30,30,30);
}

::-webkit-scrollbar-thumb:hover
{
    background-color: #000000;
}

html
{
	scroll-behavior: smooth;
}

body
{
	padding:0;
	margin:0;

	font-family:bahnschrift, sans-serif;
	font-weight: 400;
	background-color:rgba(40,40,40,1.00);
}

.Header
{
	position:fixed;
	top:0;
	z-index: 1;
	
	height:5vw;
	width:100%;
	
	background-color:rgb(30,30,30);
	box-shadow: 0 0 10px 1px black;
}

.HeaderLogo
{
	position:relative;
	float:left;
	margin-top:0.5vw;
	margin-left:2vh;
	height:80%;
	filter:drop-shadow(0 6px 2px black) brightness(80%);
	transition-duration: 0.2s;
}

.HeaderLogo:hover
{
	filter:drop-shadow(0 6px 2px black) brightness(90%);
	margin-left: 2.75vh;
}

.HeaderNav
{
	position:relative;
	float:right;
	
	padding:0;
	margin-right:4vw;
	overflow:hidden;
	
	text-align:center;
	font-size:22px;
	
	color:#cccccc;
}

.HeaderNav a
{
	position:relative;
	float:left;
	margin-top:1.5vw;
	margin-left:2vw;
	margin-right:2vw;
	
	color:#cccccc;
	text-decoration:none;
}

.DropButton
{
	position:relative;
	float:left;
	padding-top: 0.5vw;
	margin-top:1vw;
	margin-left:2vw;
	margin-right:2vw;
	margin-bottom: 0.5vw;
	
	filter:drop-shadow(0 6px 2px black);
}

.DropButton:hover
{
	cursor:default;
	
	color:#eeeeee;
	background-color:rgb(30,30,30);
	box-shadow: 0 2px 5px black;
}

.DropButton:hover .DropMenu
{
	display:block;
}

.DropMenu
{
	cursor:default;
	display:none;
	
	font-size: 14px;
	text-align: center;
	transition-duration: 0.2s;
}

.DropMenu a
{
	float:none;
	margin:0;

	color:#cccccc;
	transition-duration: 0.2s;
}

.DropMenu a:hover
{
	color:#eeeeee;
	font-size: 17px;
}

.LandingContainer
{
	text-align:center;
}

.Subtitle
{
	text-align: center;
	
	color:#bbbbbb;
	font-style:italic;
	font-size: 24px;
	filter:drop-shadow(0 5px 2px black);
}

.Umbra
{
	position:relative;
	display: inline-block;
	margin:5vh 0 1vh 0;
	width:35vw;
}

.Umbra img
{
	filter: drop-shadow(0 5px 3px black);
}

.Button
{
	position:relative;
	padding: 1vw 3vw;
	display: inline-block;
	
	font-size: 26px;
	text-align:center;
	
	color:#cccccc;
	background-color:rgb(30,30,30);
	box-shadow: 0 2px 5px black;
	
	transition-duration: 0.3s;
}

.Button:hover
{
	cursor:pointer;
	transform:scaleX(1.1);
	
	color:#dddddd;
	background-color:rgb(36,40,46);
}

.SocialMediaMenu
{
	position:absolute;
	top:55vh;
	left:1vw;
}

.SocialMediaMenu a
{
	text-decoration: none;
}

.SocialMediaButton
{
	position: relative;
	left: 0;
	height:5vw;
	filter: drop-shadow(0 4px 2px black) brightness(80%);
	margin-bottom: 2vh;
	transition-duration: 0.3s;
}

.SocialMediaButton:hover
{
	left: 1vw;
	filter:drop-shadow(0 4px 2px black) brightness(90%);
}

.Divider
{
	position:relative;
	float:left;
	width:100%;
	height:20vw;
	box-shadow: 0 0 10px 1px black;
	
	background-color:rgb(30,30,30);
}

.Video
{
	position: relative;
	float:left;
	overflow:hidden;
	padding-bottom:22%;
	width:40vw;
	margin-left:10vw;
	margin-top:2vw;
	
	box-shadow: 0 2px 10px;
}

.Video iframe
{
	position: absolute;
	border:0;
	height:100%;
	width:100%;
	left:0;
	top:0;
}

.Paragraph
{
	position:relative;
	float:left;
	overflow: hidden;
	margin-left:5vw;
	
	height:30vw;
	width:35vw;
	
	color:#cccccc;
}

.Paragraph h1
{
	margin-top: 2vw;
	margin-bottom:1vw;
	font-size: 60px;
	font-style: italic;
	filter:drop-shadow(0 6px 3px black);
}

.Paragraph p
{
	margin-top:0;
	margin-bottom: 1vw;
	font-size: 17px;
	filter:drop-shadow(0 1px 3px black);
}

.PurchaseSitesMenu
{
	position:relative;
	float:left;
	margin-left: 11vw;
}

.PurchaseButton
{
	position:relative;
	float:left;
	margin-right:2vw;
	top:-4vw;
	
	height:8vw;
	filter:drop-shadow(0 4px 2px black) brightness(80%);
	transition-duration: 0.3s;
}

.PurchaseButton:hover
{
	top:-3vw;
	
	filter:drop-shadow(0 4px 2px black) brightness(90%);
}

.ContinueButton
{
	position:relative;
	float:left;
	margin-left:17vw;
	top:-2vw;
	
	height:5vw;
	filter:drop-shadow(0 4px 2px black) brightness(80%);
	transition-duration: 0.2s;
}

.ContinueButton:hover
{
	filter:drop-shadow(0 4px 2px black) brightness(90%);
	transform: scale(1.2);
}

/* SMALL SCREEN ADJUSTMENTS */
@media all and (max-width: 1200px), handheld
{
	.HeaderNav
	{
		font-size:2vw;
	}
	
	.SocialMediaMenu
	{
		top:40vh;
	}
	
	.Button
	{
		margin-bottom: 10vw;
	}
	
	.Video
	{
		width:50vw;
		margin-left:25vw;
		padding-bottom:26%;
	}
	
	.Paragraph
	{
		margin-left:15vw;
		width:70vw;
		height:auto;
	}
	
	.PurchaseSitesMenu
	{
		margin-left:20vw;
	}
	
	.PurchaseButton
	{
		margin-top:3vw;
		margin-right: 5vw;
		top:0;
	}
	
	.PurchaseButton:hover
	{
		top:1vw;
	}
	
	.ContinueButton
	{
		top:-12vw;
		margin-left:17vw;
	}
}

/* PORTRAIT MODE ADJUSTMENTS */
@media all and (orientation:portrait)
{
	.Header
	{
		height:20vw;
	}
	
	.HeaderLogo
	{
		margin-top:2vw;
		height:50%
	}
	
	.HeaderNav
	{
		font-size:4vw;
		margin-top:0.5vw;
	}
	
	.Umbra
	{
		margin-top: 20vw;
		width:80vw;
	}
	
	.Button
	{
		top:-10vw;
	}
	
	.SocialMediaMenu
	{
		top:50vh;
		left:auto;
		right:0;
	}
	
	.SocialMediaButton
	{
		height:10vw;
		right:0;
	}
	
	.SocialMediaButton:hover
	{
		left:auto;
		right:1vw;
	}
	
	.Video
	{
		width:80vw;
		margin-top:20vw;
		margin-left:10vw;
		padding-bottom:42%;
	}
	
	.Paragraph h1
	{
		text-align: center;
	}
	
	.PurchaseSitesMenu
	{
		margin-left:15vw;
		margin-bottom: 20vw;
	}
	
	.PurchaseButton
	{
		height:12vw;
	}
	
	.ContinueButton
	{
		margin-left: 5vw;
		top:-25vw;
		height:8vw;
	}
}